@page
@model VisionRestaurant.Pages.CheckoutModel
@{
	ViewData["Title"] = "Checkout";
	
}
@using VisionRestaurant.Data
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

<h1>Checkout</h1>
<form asp-route-amount="@Model.AmountPayable" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th>Subtotal</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Items)
            {
                var subtotal = item.Price * item.Quantity;
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("C")</td>

                    <td>
                        <button type="submit">+</button>
                        <button type="submit">-</button>
                    </td>
                    <td>@item.Quantity</td>
                    <td>@subtotal.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
    <div>Total = @Model.Total.ToString("C")</div>
    <button type="submit" asp-page-handler="Buy">Buy</button>
</form>

