@page
@model VisionRestaurant.Pages.MenuModel
@{
	ViewData["Title"] = "Menu";
	<h1>The Menu</h1>

}
<form method="post">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Food)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @{
                var imagepath = @"image\" + item.ID + ".png";
            }
            <td>
                <img src="@imagepath">
            </td>
                <td>
                    <button type="submit" asp-page-handler="Buy"
                        asp-route-itemID="@item.ID">
                        Buy
                    </button>
                </td>


        </tr>
}
    </tbody>
</table>
</form>